@import "tailwindcss";

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    height: 8px;
  }

  .scrollbar-thumb-gray-400::-webkit-scrollbar-thumb {
    background-color: rgb(156 163 175);
  }

  .scrollbar-track-gray-200::-webkit-scrollbar-track {
    background-color: rgb(229 231 235);
  }

  .scrollbar-thumb-rounded-full::-webkit-scrollbar-thumb {
    border-radius: 9999px;
  }

  .scrollbar-track-rounded-full::-webkit-scrollbar-track {
    border-radius: 9999px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: rgb(107 114 128);
  }
}
